# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for data science
* List commonly used libraries for data science
* Create a table of data science tools
* Create and run arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. pytorch
4. tensorflow

| Data Science Tools |
|--------------------|
| JupyterLabs        |
| JupyterNotebooks   |
| Visual Studio Code |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Daniel Read